body {
    background-color: #222;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.header, .footer {
    height: 64px;
    background-color: #383838;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 90%;
}

.sidebar {
    min-height: 100%;
    min-width: 160px;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #849de9;
    align-items: center;
}

.sidebar_item {
    background-color: azure;
    border-radius: 10px;
    box-shadow: #222222;
}
.sidebar_item_link{
    transition: all .3s ease-in-out;
    font-weight: 100;
    font-size: 2vw;
    transition: all .3s ease-in-out;
}
.sidebar_item_link:hover{
    color: aquamarine;
}

.content {
    min-height: 100%;
    width: 100px;
    font-size: 2vw;
    flex-grow: 10;
    background-color: #234;
}

.content_item {
    border-color: aqua;
    padding: 100px;
}