body {
    background-color: #222;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.header, .footer {
    height: 64px;
    background-color: #383838;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
}

.sidebar {
    min-height: 100%;
    min-width: 160px;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #543;
    align-items: center;
}

.sidebar_item {
    border-color: red;
    border-radius: 10px;


}

.content {
    min-height: 100%;
    width: 100px;
    flex-grow: 10;
    background-color: #234;
}

.content_item {

}